.settings {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8fbc8f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #76c7a0;
}
